@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.header__top {
  background-color: #2378C9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top-row-addres {
  font-size: 14px;
  color: white;
  margin-right: 420px;
  background: url(/img/icons/locate.svg) no-repeat left center;
  padding: 15px 0 15px 26px;
  cursor: pointer;
}

.header__top-row-contacts {
  padding: 15px 0;
}

.header__top-row-contacts-tel {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding-left: 23px;
  background: url(/img/icons/phone.svg) no-repeat left center;
  margin-right: 40px;
}

.header__top-row-contacts-mail {
  text-decoration: none;
  font-size: 16px;
  color: white;
  padding-left: 30px;
  background: url(/img/icons/mail.svg) no-repeat left center;
  margin-right: 55px;
}

.header__top-row-messengers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top-row-messengers img {
  width: 22px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  display: block;
}
.header__top-row-messengers img:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.link {
  display: inline-block;
}

.span-margin {
  margin-right: 30px;
}
.span-margin:last-child {
  margin: 0;
}

.header__bottom {
  margin-bottom: 18px;
}

.header__bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 37px;
}

.header__bottom-logo {
  margin-right: 90px;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 90px;
}

.header__nav-list-item {
  margin-right: 39px;
}
.header__nav-list-item:last-child {
  margin: 0px;
}

.header__nav-list-link {
  font-size: 18px;
  color: #302D2D;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__nav-list-link::after {
  content: "";
  display: inline-block;
  width: 0%;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: 0px;
  left: 0;
  opacity: 0;
  -webkit-transition: width 0.4s ease, opacity 0.4s ease;
  transition: width 0.4s ease, opacity 0.4s ease;
}

.header__nav-list-link:hover::after {
  width: 100%;
  opacity: 1;
}

.header__bottom-btn-link {
  font-size: 14px;
  color: white;
  background-color: #F86D6D;
  padding: 17px 29px;
  border-radius: 26px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header__bottom-btn-link:hover {
  background-color: #CB5A5A;
}

.intro {
  height: 618px;
  background-color: #0E6EAA;
  margin-bottom: 115px;
}

.intro__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.intro__content-left {
  margin-top: 179px;
}

.intro__content-name {
  font-size: 14px;
  color: #C5C1FE;
  margin-bottom: 11px;
}

.intro__content-title {
  font-size: 62px;
  line-height: 105.7%;
  color: white;
  font-weight: bold;
  margin-bottom: 32px;
  width: 485px;
}

.intro__content-subtitle {
  font-size: 18px;
  color: white;
  margin-bottom: 61px;
  font-weight: 300;
  width: 413px;
}

.intro__content-btn-link {
  font-size: 18px;
  color: white;
  background-color: #5EB8F0;
  padding: 18px 43px;
  border-radius: 30px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.intro__content-btn-link:hover {
  background-color: #4E98C6;
}

.intro__content-right-girl {
  position: absolute;
  top: 18px;
  left: 390px;
  height: 600px;
}

.dental__clinic {
  margin-bottom: 105px;
}

.dental__clinic-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dental__clinic-content-img {
  margin-right: 61px;
}

.dental__clinic-title {
  padding-top: 40px;
  margin-bottom: 58px;
  color: #302D2D;
  font-size: 52px;
  width: 683px;
  line-height: 1.15;
}

.dental__clinic-title-blue {
  color: #2378C9;
  font-weight: bold;
}

.dental__clinic-subtitle {
  margin-bottom: 47px;
  color: #6B6868;
  font-size: 18px;
  line-height: 1.6;
  width: 576px;
}

.dental__clinic-services {
  color: #302D2D;
  margin-bottom: 28px;
  font-size: 18px;
}

.dental__clinic-services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dental__clinic-services-left-list {
  margin-right: 49px;
}

.dental__clinic-services-list-item {
  color: #302D2D;
  font-size: 20.25px;
  padding-left: 36.5px;
  background: url(/img/icons/ellipse.svg) no-repeat center left;
  margin-bottom: 21px;
}
.dental__clinic-services-list-item:last-child {
  margin-bottom: 0;
}

.advantages {
  background-color: #DFEEFC;
}

.advantages__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 102px;
}

.advantages__content-card {
  width: 326px;
  margin-right: 111px;
  padding-bottom: 93px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.advantages__content-card:last-child {
  margin-right: 0;
}

.advantages__content-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  height: 99px;
  width: 99px;
}

.advantages__content-title {
  font-size: 24px;
  text-align: center;
  padding-bottom: 25px;
}

.advantages__content-subtitle {
  text-align: center;
  font-size: 18px;
  color: #56565E;
}

.team {
  margin-top: 91px;
  margin-bottom: 119px;
}

.team__title {
  font-size: 52px;
  color: #302D2D;
  text-align: center;
  margin-bottom: 21px;
}

.team__subtitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 45px;
}

.team__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__card {
  margin-right: 20px;
  background-color: #2378C9;
  -webkit-box-shadow: 0px -1px 10px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px -1px 10px 1px rgba(0, 0, 0, 0.15);
  border-radius: 21px;
}
.team__card:last-child {
  margin-right: 0;
}

.team__card-img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.igor-png {
  height: 318px;
  width: 285px;
}

.team__card-title {
  font-size: 18px;
  font-weight: bold;
  padding: 22px 0 7px 24px;
  color: white;
}

.team__card-subtitle {
  font-size: 16px;
  padding-left: 24px;
  color: white;
  font-weight: 300;
  padding-bottom: 20px;
}

.price {
  background: -webkit-gradient(linear, right top, left bottom, from(#A7D2FB), to(#DFEEFC));
  background: linear-gradient(to bottom left, #A7D2FB, #DFEEFC);
  margin-bottom: 105px;
}

.price_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.price__menu {
  margin: 75px 0 103px;
  background-color: #5EB8F0;
  border-radius: 20px;
}

.price__menu-title {
  font-size: 52px;
  color: white;
  padding: 55px 103px 20px;
  text-align: center;
}

.price__menu-subtitle {
  font-weight: 300;
  font-size: 16px;
  color: white;
  text-align: center;
  margin-bottom: 72px;
}

.price__menu-list {
  padding: 0 61px;
}

.price__menu-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 28px;
  font-size: 18px;
  font-weight: 300;
  color: white;
  padding-bottom: 22px;
  border-bottom: 1px dashed white;
}
.price__menu-list-item:last-child {
  margin-bottom: 55px;
}

.price__menu-list-item-price {
  font-weight: 700;
}

.price-img {
  position: absolute;
  top: 250px;
  right: -11px;
  height: 500px;
  -webkit-animation: moveUpDown 10s infinite;
          animation: moveUpDown 10s infinite;
}

@-webkit-keyframes moveUpDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes moveUpDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
.news__title {
  text-align: center;
  color: #302D2D;
  font-size: 52px;
  margin-bottom: 56px;
}

.news__cards-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.news__card {
  width: 387px;
  margin-right: 20px;
  background-color: #F6F6F6;
  border-radius: 20px;
  position: relative;
}

.news__card-content {
  padding: 0px 30px;
}

.news__card-img {
  padding: 15px 15px 25px;
}

.news__card::after {
  display: block;
  content: "";
  width: 357px;
  height: 260px;
  background-color: #2E2D2D;
  opacity: 0.1;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1;
  border-radius: 20px;
}

.news__card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  color: #A9A9A9;
  margin-bottom: 14px;
}

.news__card-bold-text {
  font-weight: bold;
  color: #302D2D;
}

.news__card-title {
  font-size: 22px;
  color: #302D2D;
  margin-bottom: 23px;
}

.news__card-subtitle {
  font-size: 16px;
  color: #56565E;
  margin-bottom: 41px;
}

.news__card-btn {
  margin-bottom: 37px;
  padding: 15px 111px;
  background-color: #5EB8F0;
  border-radius: 30px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.news__card-btn:hover {
  background-color: #407fa5;
}

.news__card-btn-link {
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  color: white;
}

.news__cards-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 116px;
}

.comments {
  background: url(/img/main/bg.jpg) no-repeat;
  padding-top: 90px;
  background-size: cover;
  height: 690px;
  position: relative;
}
.comments::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #323030;
  opacity: 0.39;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.comments__content {
  width: 1060px;
  background-color: #fff;
  opacity: 0.9;
  margin: 0 auto;
  border-radius: 20px;
  position: relative;
  z-index: 2;
}

.comments__title {
  text-align: center;
  padding-top: 55px;
  font-size: 52px;
  color: #302D2D;
  margin-bottom: 69px;
}

.comments__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 158px 80px 116px;
}

.comments__info-img {
  margin-right: 52px;
  border-radius: 50%;
}

.comments__subtitle {
  padding-top: 11px;
  font-size: 18px;
  color: #6B6868;
  line-height: 1.75;
  margin-bottom: 37px;
  background: url(/img/main/quotes.svg) no-repeat top center;
  background-position: 135px 0px;
}

.comments__info-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comments__info-name {
  font-size: 30px;
  font-weight: bold;
  color: #2378C9;
  line-height: 1.75;
  margin-right: 177px;
}

.comments__info-contacts-icon {
  background-color: #E7E7E7;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.comments__info-contacts-icon:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.twitter__black {
  padding: 10px 9px;
  margin-right: 19px;
}

.vk__black {
  padding: 13px 9px;
  border-radius: 50%;
}

.comments__previous-comment {
  position: absolute;
  top: 223px;
  left: -30px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.comments__previous-comment:hover {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.comments__next-comment {
  position: absolute;
  top: 210px;
  right: -30px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.comments__next-comment:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.reception {
  background: -webkit-gradient(linear, right top, left bottom, from(#A7D2FB), to(#DFEEFC));
  background: linear-gradient(to bottom left, #A7D2FB, #DFEEFC);
  height: 732px;
}

.container__reception {
  margin: 0 auto;
  width: 936px;
}

.reception__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  position: relative;
}

.reception__left {
  margin-top: 117px;
  background-color: #fff;
  border-radius: 20px;
  width: 425px;
  -webkit-box-shadow: 0px -1px 10px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px -1px 10px 1px rgba(0, 0, 0, 0.15);
}

.reception__title {
  padding-top: 58px;
  font-size: 32px;
  color: #302D2D;
  margin-bottom: 29px;
}

.reception__name {
  display: block;
  margin-left: 48px;
  padding-left: 23px;
  border: 1px solid #E4E4E4;
  border-radius: 10px;
  height: 62px;
  width: 328px;
  margin-bottom: 20px;
}
.reception__name::-webkit-input-placeholder {
  font-size: 18px;
  color: #B9B9B9;
}
.reception__name::-moz-placeholder {
  font-size: 18px;
  color: #B9B9B9;
}
.reception__name:-ms-input-placeholder {
  font-size: 18px;
  color: #B9B9B9;
}
.reception__name::-ms-input-placeholder {
  font-size: 18px;
  color: #B9B9B9;
}
.reception__name::placeholder {
  font-size: 18px;
  color: #B9B9B9;
}

.reception__number {
  display: block;
  display: block;
  margin-left: 48px;
  padding-left: 23px;
  border: 1px solid #E4E4E4;
  border-radius: 10px;
  height: 62px;
  width: 328px;
  margin-bottom: 20px;
}
.reception__number::-webkit-input-placeholder {
  font-size: 18px;
  color: #B9B9B9;
}
.reception__number::-moz-placeholder {
  font-size: 18px;
  color: #B9B9B9;
}
.reception__number:-ms-input-placeholder {
  font-size: 18px;
  color: #B9B9B9;
}
.reception__number::-ms-input-placeholder {
  font-size: 18px;
  color: #B9B9B9;
}
.reception__number::placeholder {
  font-size: 18px;
  color: #B9B9B9;
}

.reception__btn {
  color: white;
  font-size: 18px;
  padding: 18px 80px;
  background-color: #5EB8F0;
  border-radius: 30px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin-bottom: 20px;
}
.reception__btn:hover {
  background-color: #407fa5;
}

.reception__subtitle {
  margin: 0 auto;
  width: 280px;
  font-weight: 300;
  font-size: 14px;
  color: #747474;
  margin-bottom: 57px;
}

.reception__woman {
  position: absolute;
  top: 0;
  right: -180px;
}

.footer {
  background-color: #10406F;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__top-left {
  width: 240px;
  border-right: 1px solid #B4B4B4;
}

.footer__top-left-logo {
  display: inline-block;
  padding-top: 66px;
  margin-bottom: 81px;
}

.footer__top-addres {
  font-size: 14px;
  color: white;
  background: url(/img/icons/locate.svg) no-repeat left center;
  padding-left: 26px;
  margin-bottom: 24px;
  cursor: pointer;
  display: inline-block;
}

.footer__top-contacts {
  margin-bottom: 74px;
}

.footer__top-contacts-tel {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding-left: 23px;
  background: url(/img/icons/phone.svg) no-repeat left center;
  display: inline-block;
  margin-bottom: 24px;
}

.footer__top-contacts-mail {
  text-decoration: none;
  font-size: 16px;
  color: white;
  padding-left: 30px;
  background: url(/img/icons/mail.svg) no-repeat left center;
  margin-right: 55px;
}

.footer__top-messengers {
  width: 186px;
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services {
  padding-top: 68px;
  padding-left: 98px;
  margin-right: 84px;
}

.services__title {
  font-size: 24px;
  font-weight: 500;
  color: white;
  margin-bottom: 21px;
}

.services__list-item {
  font-size: 18px;
  color: #E0E0E0;
  margin-bottom: 25px;
}

.dentists {
  padding-top: 68px;
  margin-right: 84px;
}

.dentists__title {
  font-size: 24px;
  font-weight: 500;
  color: white;
  margin-bottom: 21px;
}

.dentists__list-item {
  font-size: 18px;
  color: #E0E0E0;
  margin-bottom: 25px;
}

.opening__hours {
  padding-top: 68px;
}

.opening__hours__title {
  font-size: 24px;
  font-weight: 500;
  color: white;
  margin-bottom: 21px;
}

.opening__hours-list-item {
  font-size: 18px;
  color: #E0E0E0;
  margin-bottom: 25px;
}

.footer__bottom-title {
  text-align: center;
  padding: 30px 0;
  border-top: 1px solid #B4B4B4;
  color: #C3C3C3;
  font-size: 16px;
  font-weight: 300;
}